body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: cornflowerblue; }
  body h1 {
    color: blue; }
  body #contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    body #contenedor #card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;
      width: 350px;
      height: 450px;
      border: 2px solid;
      color: #5b5bad;
      background-color: beige; }
      body #contenedor #card #foto {
        display: flex;
        justify-content: center;
        margin: 10px;
        width: 325px;
        height: 280px;
        border: 2px solid;
        background-color: aqua; }
      body #contenedor #card #producto {
        display: flex;
        justify-content: center;
        border: 2px solid;
        margin: 10px; }
      body #contenedor #card #precio {
        display: flex;
        justify-content: center;
        border: 2px solid;
        margin: 10px; }
      body #contenedor #card #conbtn {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        body #contenedor #card #conbtn #boton {
          font-size: 18px;
          color: beige;
          margin: 10px;
          border: 2px solid;
          width: 150px;
          height: 30px;
          background-color: #5b5bad; }
